body{
    background-color: rgb(250, 244, 244);
}
blockquote{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}
nav .nav-link{
    text-transform: uppercase;
    font-weight: 600;
}

.container-fluid{
    max-width: 1140px;
}

.navbar-brand{
    
    background-image: url("avocado.svg");
    width: 278px;
    height: 87px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;

}
.jumbotron-main{
    background-image: url("jumbotron-main.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    height: 0;
    padding: 30% 0 0 0;
}
.jumbotron-main::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
}
.jumbotron-main h1{
    color: white;
}
.jumbotron-texts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.card-title{
    font-size: 1.5rem;
}